<!DOCTYPE html>
<html lang="en">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='Mate_css/article1.css') }}">
<head>
    <div id="back1">
    <meta charset="UTF-8">
        <a href="home_log">
        <img class=icon src="{{ url_for('static', filename='home_pic/icon.png')}}">
        <div class=sam>Imental</div>
        <div class=irs>Care for you</div>
        </a>
        <a href="home_log"><div class=title1>Home</div></a>
        <a href="ques"><div class=title2>Questionnaire</div></a>
        <a href="chat"><div class=title3>Chatbot</div></a>
        <a href="mate"><div class=rec4>Materials</div></a>
        <a href="personal"><div class=login>Personal Center</div></a>
    </div>
</head>
<body>
<div id="back2">
    <a href="mate"><Button class=back_button>Back</Button></a>

    <div id="arti_bkgd">
        <div class=title>{{ title }}</div>
        <div class=author>Label : {{ label }}</div>
        <div class=time>Updated : {{ date }}</div>
        <div class=text>
{#            {{ content }}#}
             When we hit it off with another person and confirm our feelings, we fall in love and think we've finally found the one.
             But almost everyone complains that, no matter how good a relationship is, there seems to be a psychological gap after the period of intense love, when all kinds of contradictions and irreconcilable parts come to the surface.
             And the greater the initial enthusiasm, the greater the gap may be.
             <br><br>What are the three periods of intimacy? <br><br>
             There are "transitions" in intimate relationships.
             If you use
             Level of relationship involvement, satisfaction with the relationship, intimacy between two people.
             A successful, stable relationship can be broadly divided into three stages:<br>
             In the beginning, we will experience one
             Madly in love period
             , intimacy is increasing rapidly, so are levels of engagement and satisfaction in relationships;
             And then, all the intimate relationships go into one
             The transition period
             ", also known as a "quiet period", is a period of reappraisal and readjustment of relationships. And the interesting thing is,
             Intimacy is still increasing, but relationship satisfaction and relationship investment levels are both lower than before.
             We become more familiar and intimate with each other, but with less effort and more dissatisfaction.
             And if it goes well, then the relationship goes in
             plateau.<br>
            <br>
             Relationship investment levels and satisfaction began to rise slowly again, and intimacy continued to increase steadily.
             It's not hard to see how making it through the "transition" can make the difference between a relationship falling apart and one that continues to thrive. Today's article is to talk about what we should do about the inevitable "transition".
             In transition, every relationship
             Three major challenges to face
             The.
             When we are madly in love, we get carried away and don't realize the problems and dangers that already exist. The transition brings some contradictions to the fore:
<br><br>
             1. Objective differences between you<br><br>

             There is no perfect match between two people in the world. Differences in genes, age, growth environment and life experience will definitely lead to various differences between partners.
             The difference could be
             character
             <br>For example, one person is introverted, the other is extroverted, one likes active expression, the other likes passive acceptance;
             May be
             behavior
             On, such as a person is resolute, a person is indecisive;
             May be
             Living habits
             For example, one person likes to travel, the other likes to stay at home; One does not love to clean up the house, one is cleanliness;
             And it could be
             hobby
             and
             values
             For example, one likes reading Hemingway and the other likes playing video games. One is pro-feminist, the other is a bit macho...
             When these differences are highlighted, it may lead to conflicts between two people; At this point, whether some parts of the other side can be tolerated becomes a problem to consider.
             <br><br>2. You start to see conflicting expectations for the relationship<br><br>
             As the relationship progresses, your expectations for the relationship may be inconsistent, which can also be a source of conflict. For example, if you want to pursue a career, they want you to be a stay-at-home mom. You want to have a baby but they're not ready. You want to be independent, but they depend on you. You want them to travel with you more, but they want to stay at home more.
             <br><br>3. You interfere with each other's rhythms<br><br>
             After the hot love period,
             "Partner interference"
             Partnerinterference can also be an important factor in relationship instability because
             Whether you live together or not, it will inevitably interfere with the rhythm of each other's lives
             . In normal times, you need to accommodate each other's free time. When the holidays come around, you might want to go out with friends and travel more, but when you fall in love, you will inevitably need to spend time together.
             In general, people who enter stable relationships tend to have less interaction with friends and other people
             (Solomon, 2016).

             There are three reasons why the transition will not be smooth
             Solomon(2016) argues that the "transition period" is special because
             Our intimacy continues to grow, making relationships potentially volatile.
             In other words,
             As we love each other more and more, our relationships become more and more dangerous.
             So, what's going on at this stage that makes it easy for problems to come to light and affect our relationship?
             (Miller, 1997; Miller, 2014)
             <br><br>1. Idealized retreat<br><br>

             Transitions are the beginning of taking off our "rose-tinted glasses". We stop beautifying each other: in the early days of intense love, we may think everything is fine with each other, but in transitions, you may overturn your own opinions. You may have thought your partner's uninhibited love of freedom was charming, but after you got married, you were vexed by their irresponsibility.

             Now that you're in a serious relationship, you're both special and important to each other, so you're more likely to be influenced by each other and upset by what the other says.

             In this case, not only the parts that we used to think were good become just so, but also the magnifying glass effect on each other's shortcomings after we have just taken off our idealized glasses. When the infatuation period is over,
             In their loved ones, they found different parts from their own imagination, and even found their unbearable problems. We subconsciously magnify these effects on ourselves and our relationships and feel pain.

             <br><br>2. We prefer to calculate what we give and what we get<br><br>

             Many people feel as if they are a different person when they are madly in love. They are willing to do a lot of things: submit to their partner, try to maintain their image, even change their hobbies and life habits for their partner. Once a serious relationship is confirmed, we slack off and stop working on it. From then on, people start to think about how much they are putting into the relationship and how much the other person is putting into the relationship.

             The term "surplus economy" in economics can also be used to explain the transition to intimate relationships:
             At the beginning of a relationship, when both of us have given a lot and are rewarded with a surplus (feeling enough satisfaction), we tend to be less particular about rewards.
             And when each other's efforts and efforts decrease, both people will feel less satisfied, and some unsatisfied parts will appear. That's when we start counting rewards.
             <br><br>3. More intimacy means your partner has more weapons to hurt you<br><br>
             As you become more familiar and intimate, your partner will learn about your strong points, but also more about your weaknesses, secrets, and flaws. In times of conflict, we use these emotionally to blame each other,
             The secret between you turns into a weapon to mock and hurt each other.
             All of these problems lead to our feelings about relationships
             Increased uncertainty
             .
             We start to doubt ourselves, our partner and our relationship
             (Solomon, 2016).
             We think: Am I losing myself for others? Is my commitment really worth it? Am I getting what I deserve? Does the relationship really have a future? For long-distance couples, this uncertainty is a greater challenge due to practical obstacles to communication (Kelmer, 2013).
             How to smooth the transition?

             According to Solomon(2016) 'Relationship Turbulence Model',
             During the transition period, reducing uncertainty is more important than increasing intimacy.

             <br><br>1. Maintain good communication: be precise with emphasis on validation and verification.<br><br>

             From the beginning of the relationship, you should communicate what you expect from each other. Talk openly about your strengths and weaknesses, your differences, the parts of the relationship that feel threatened, your contributions and benefits, and set some rules. The more discussions you have at the beginning, the fewer misunderstandings and pitfalls you will have later.

             At the same time, in your communication process, must pay attention to confirmation, retelling, testing, to avoid the occurrence of wrong cognition. What you think they are may not be who they really are, what you think they are expecting may just be your misunderstanding, and what you are conveying may not be well received.

             Therefore, never take it for granted, and try to get the answer from the other person through communication, such as repeating what you understand to the other person to check if you understand it correctly.

             <br><br>2. Think about what is a deal breaker.<br><br>

             Everyone should consider what they absolutely can't stand in a relationship according to their own value orientation, their own concept of love, their own way of being and doing things.

             Once these are exposed during the transition, you will not hesitate to end the relationship.

             But deal Breaker can't be too detailed or too much. They have to be things that really push your boundaries, or too strict a setting will cause you to limit yourself and lose some of the potential for intimacy. Realize that there is no one who meets all your expectations, and building a relationship with anyone requires negotiation and compromise.

             As the relationship progresses and doubts arise, you need to make a mental list of your partner's flaws and differences, prioritize those things, and see which ones are unacceptable to you and which are more acceptable to you. There are some things that you have made each other better through communication, and there are some things that you have compromised and chosen to tolerate.

             Eventually, you will communicate to reach agreements and compromise on both sides to stabilize the relationship's resolution of differences
             The.
             <br><br>3. Brainwash yourself properly.<br><br>

             Miller(1997b; 2014) summarized some "cognitive maintenance mechanisms," which suggest that we can consciously and actively "brainwash" ourselves during the transition period in order to protect our intimate relationships:

             <br><br>· Maintain a "positive illusion" : moderate idealization of your partner and relationship.<br><br>

             Always maintain a positive presupposition for your partner:
             Even though you are clearly aware of their weaknesses and differences, you still try to see them in a positive light, thinking that their strengths are very rare and their weaknesses are not the main part.
             When someone does something that hurts you, give them the benefit of the doubt.
             Insist on seeing your relationship as special, unique, superior, and better than most. (Note, though, that positive illusions still need to be broadly based in fact, rather than sinking into outright fantasy.)

             <br><br>· Maintain a sense of community.<br><br>

             Thinking of you as a group, always in terms of "us" rather than "me," creates a greater sense of interdependence.
             <br><br>· Disregard for alternatives.<br><br>

             Whether or not a relationship lasts is often determined not only by the expectations of both partners, but also by potential alternatives: we constantly weigh internally how we would be without our current partner, whether we could have a better life. Would YOU be happier now if you were with someone else?

             Regardless of how satisfied we are with our current relationship, we stay in relationships as long as we believe that we are not better off losing our partner and that our current relationship is already the best option.
             People who are willing to maintain the positive illusion try not to be curious about other objects, about other types of life, not to look at attractive objects, and even to engage in deliberate demeaning, such as viewing an object that is actually attractive as unattractive. This takes some of the risk out of intimacy.

             <br><br>4. Each person believes he or she is a better person for the other.<br><br>
             When you're together and you're able to support each other, grow together, take responsibility, and when the relationship makes you feel like you're supporting each other to be better people, there's a deeper connection.
             Unlike what many people understand as "stability," intimate relationship stability is not static or conflict-free. That state may be safe, but not intimate enough.

             Lasting intimacy must be a dynamic balance:
             There are differences, there are conflicts, there are distractions, there are compromises, but you both have the confidence to learn about each other, to negotiate your differences, to compromise and accept each other step by step
             -
             There are bound to be more problems along the way, but our relationship is strong enough to not be overwhelmed by those problems. We can find a way to solve those problems, and this person is what I want for life.

             This is when you truly find security and  stability in your intimate relationship.
        </div>
    </div>
</div>

</body>
</html>