<!DOCTYPE html>
<html lang="en">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='Mate_css/article2.css') }}">
<head>
    <div id="back1">
    <meta charset="UTF-8">
        <a href="home_log">
        <img class=icon src="{{ url_for('static', filename='home_pic/icon.png')}}">
        <div class=sam>Imental</div>
        <div class=irs>Care for you</div>
        </a>
        <a href="home_log"><div class=title1>Home</div></a>
        <a href="ques"><div class=title2>Questionnaire</div></a>
        <a href="chat"><div class=title3>Chatbot</div></a>
        <a href="mate"><div class=rec4>Materials</div></a>
        <a href="personal"><div class=login>Personal Center</div></a>
    </div>
</head>
<body>
<div id="back2">
    <a href="mate"><Button class=back_button>Back</Button></a>

    <div id="arti_bkgd">
        <div class=title>{{ title }}</div>
        <div class=author>Label : {{ label }}</div>
        <div class=time>Updated : {{ date }}</div>
        <div class=text>
{#            {{ content }}#}
             I've heard it said before, and one of my least favorite phrases is "You're too sensitive." This sentence often has some derogatory implications in everyday life. So are some people really more sensitive than others?
             Psychological research says yes.<br><br>
             Elaine Aron was the first psychologist to work with highly sensitive people. In her research, she found that 15 to 20 percent of Americans are highly sensitive. She has also developed a set of "Are you Highly sensitive? Self test questions. Want to know for sure if you're "highly sensitive"?
             <br><br>What are the characteristics of "highly sensitive" people?<br><br>
             "Sensitivity" is a normal dimension of human personality traits (Borchard, 2010; Tartakovsky, 2012; Aron, 2013). It is a dimension because it is not two extremes, that is, not simply "sensitive" or "insensitive", but rather a range of variations (spectrum).
             Therefore, what we call high sensitivity is the embodiment of a higher degree of sensitivity.
             Highly Sensitive Person (HSP) can process the positive and negative information in the external world in a more complete and detailed way, but they are also easily affected by these external stimuli and become overwhelmed.
             HSPS have a strong sense of and insight into the external environment. They are usually able to quickly find out something unusual in some situations, so they are more willing to spend time alone and quietly.
             The study found that highly sensitive people mainly have the following characteristics:
        <br><br>1. Great sense of detail<br><br>
             The most prominent characteristic of HSPS is that they are highly sensitive to the details of life they can perceive
             (Borchard, 2010; Bernstein, 2015; Davernport, 2016), they are usually able to detect details that are easily overlooked by ordinary people. These perceptions, such as the texture of clothing, the quality of food, music, traffic or the sounds of human speech, or the colors and smells of nature, all come from human touch, taste, hearing, sight and smell.
             <br><br>2. Focus on the meaning of the action<br><br>
             This high sensitivity also means that they are aware of the possible meaning and consequences of human actions, even if they are very subtle (Borchard, 2010).
             As a result, highly sensitive people consider a wide range of possible options and consequences before making an action and are cautious.
             Sometimes they are hesitant because of it.
             <br><br>3. High awareness of emotions<br><br>
             At the same time, highly sensitive people are "sensitive" to their own emotions.
             They are more aware of their internal emotional state than the average person
             (Borchard, 2010; Davernport, 2016). Highly sensitive people tend to have a more pronounced emotional response to pain, distress, and physical reactions, and as a result, they are better able to feel and recognize their emotions.
             <br><br>4. Be creative<br><br>
             Both Therese Borchard (2010) and Barrie Davenport (2016) believe that highly sensitive people are highly creative.
             For highly sensitive people, "creation" is often used as a mechanism for coping with emotional reactions.
             Many writers, painters, musicians and other creative workers have been found to be "highly sensitive".
             <br><br>5. Be compassionate and empathetic<br><br>
             Highly sensitive people are acutely aware not only of their own emotions, but also of the emotions and situations of others (Borchard, 2010; Davernport, 2016). Therefore, in their daily life and work, they are more able to sympathize with other people's situation and empathize with other people's feelings.
             Of course, hypersensitivity can be confusing at times. Because highly sensitive people are highly aware of external environments and internal emotions, they can also feel "overwhelmed" by too much information, emotions, and perceptions. They are easy to:
             <br><br>1. You drown in your emotions<br><br>
             On the one hand, a heightened awareness of their own internal emotions can make them better able to cope with their internal emotions. On the other hand,
             They may also be overstimulated by too much intense, complex and confusing external information and emotions, resulting in more pain, fatigue, stress, anxiety and other emotional reactions
             (Aron, 1996; Borchard, 2010).
             <br><br>2. Being influenced by other people's emotions<br><br>
             Highly sensitive people are better able to empathize with other people's emotions, so they are more easily influenced by others' emotions (Borchard, 2010).
             Other people's emotions may become an additional emotional burden for HSPS, causing their troubles.
             <br><br>3. Unhealthy perfectionism<br><br>
             Due to their outstanding perception, HSPS pay great attention to details and can even be picky.
             This can lead to them being overly critical of everything, or trying to do everything to an extreme
             -- so that an unhealthy tendency towards perfectionism is formed (Borchard, 2010).
             <br><br>4. The need to be alone can be a burden<br><br>
             Highly sensitive people tend to be overstimulated in daily life, which makes them often need a lot of time and space to be alone and give their mind a chance to process the emotions they are overloaded with.
             However, for the hectic pace of modern life, the constant "need to be alone" may become a burden.
             <br><br>5. Pressure from social expectations<br><br>
             Society has some misconceptions about highly sensitive people, such as that they are neurotic, unsociable and abnormal, which brings a lot of social pressure to highly sensitive people.
             Biology dictates that some people are more sensitive
             Current research in the world on human "sensitivity" has found that
             It is an innate personality trait, and it is mainly influenced by physiological reasons
             (Aron, 1996; Borchard, 2010; Tartakovsky, 2012; Bernstein, 2015).
            <br><br>Genetics play a role in how sensitive people are<br><br>
             In hundreds of studies of "highly sensitive people", genetic inheritance has been found to be an important factor. Although not all the genes involved in sensitivity have been identified, researchers believe that the serotonin transporter gene, a brain neurotransmitter that helps serotonin circulate, It has an important impact on people's sensitivity and emotional health (Bernstein, 2016).
             This neurotransmitter affects sensitivity not only in humans, but in more than 100 other species including fish, birds, cats, dogs and primates (Aron, 1996; Bernstein, 2015). <br><br>In nature, hypersensitivity helps animals detect dangerous environments and is a skill that improves their chances of survival.
             Sensitivity, therefore, is also thought to be a genetic instinct for self-preservation.
             Activity in certain areas of the brain has also been found to correlate with people's sensitivity. Using functional magnetic resonance imaging (fMRI) of the brain, a team of Californian researchers found that highly sensitive people respond to self-administered sensitivity tests The primitive reward system was activated in the brain (Bernstein, 2015).
             Of course, the acquired environment, personality or personality traits also affect people's response to stress and, to some extent, affect the development of people's sensitivity (Bernstein, 2015).
             <br><br>But most people currently underestimate the impact of biological factors on those who are "hyper-sensitive".
             Common misconceptions about highly sensitive people
             Despite the psychological belief that highly sensitive people are more insightful, creative, and empathetic to others, misconceptions persist.
             <br><br>Myth # 1: Hypersensitivity is a weakness or flaw.<br><br>
             Strong emotional responses are often seen as a weakness. but
             In fact, highly sensitive people are not the "easily hysterical appearance" that most people imagine.
             In fact, a study published in the journal Personality and Individual Differences (2015) found that
             Highly sensitive people are often better able to manage their emotions
             (Berstein, 2015).
             They are also more prone to self-awareness and self-analysis. The study looked at 166 teenagers in England who were treated by school counseling centers for depressive symptoms.
             <br><br>Those highly sensitive students are better able to learn the ability to adjust their cognition in the process of counseling.
             Furthermore, the researchers found that the depressive symptoms of the highly sensitive individuals decreased during the subsequent 12-month follow-up, while the depressive symptoms of the others did not change significantly (Berstein, 2015).
             Researchers think this is because
             Highly sensitive people tend to internalize what they feel and learn and put it into practice.
             Their insight and ability to understand external information helps them to observe, learn and absorb new knowledge better.
             As can be seen, high sensitivity is not necessarily a weakness, but can be an advantage.
             <br><br>Myth # 2: Highly sensitive people are introverts.<br><br>
             Because highly sensitive people are not socially active and need some alone time and space, they can often be mistaken for socially awkward and introverted. However, in fact, this is not the case. In the study of Elaine Aron (1996), she found that 30% of highly sensitive people are extroverts, who are willing to communicate with others and can provide emotional support to others.
             <br><br>Myth # 3: Highly sensitive people are usually women.<br><br>
             People tend to think that women are more sensitive. But studies have found that
             There was no significant difference in the proportion of HSPS between males and females
             (Aron, 1996). However,
             Highly sensitive men are often more troubled by cultural expectations of male roles. Therefore, some highly sensitive men tend to be considered weak, not manly enough, not responsible and so on
             (Holmes, 2014).
             <br><br>How do highly sensitive people behave?<br><br>
             There is an explosion of information in today's society, and various forms of stimulation can cause stress for highly sensitive people. For some highly sensitive people, it might have been more comfortable in the past, when there was less material abundance and fewer choices. They may wonder why others around them can handle and even welcome so much stimulation, while they often feel overwhelmed and overwhelmed. They also fantasize about a simpler life from time to time.
             So as a highly sensitive person, how to survive in such an era? Here are some tips to help you:
             <br><br>1. Detect and prioritize the things that are most likely to trigger your sensitivities<br><br>
             Every highly sensitive person is different. Some people are more sensitive to sounds and colors, while others are more sensitive to smells. In interpersonal situations, some people are more sensitive to rejection than others to neglect or criticism. You need to be aware of the things that trigger you the most. This is usually easy for you to do, but it's more important to learn how to deal with the stimuli and effects they have on you.
             For example, Ted Zeff, a psychologist and author of The Highly Sensitive Person's Survival Guide, is a Highly Sensitive Person who loves to travel but is often bothered by The noise of his travels. He realizes that he is sensitive to sound and has a high requirement for silence, so he takes the initiative to wear soundproof earplugs -- in advance, you need to realize that you are different from the "average person," and you need to actively plan your response.
            <br><br> 2. Find the stress reliever that works best for you<br><br>
             Sometimes, although people can find ways to avoid being overstimulated, stress is inevitable. Highly sensitive people also have a profound feeling of pressure, and sometimes even produce some physiological stress responses, such as stomach pain and some digestive system diseases (Tartakovsky, 2012). Therefore, highly sensitive people need to find the most suitable way to relieve stress through appropriate relaxation, meditation, outing, fitness and other ways.
             <br><br>3. Speak up about your problems<br><br>
             For non-hSPS, they are not as sensitive as HSPS to the sounds, smells, subtle fluctuations in tone between people's words and so on. If you feel uncomfortable in your surroundings, you can bravely express your distress (Tartakovsky, 2012).
             A friend once wrote this sentence:
             Some people see the world through a filter that gives them a higher contrast and saturation. So they experience the world in a more vivid and intense way all the time.
             This more intense price, a lot of time is not by their own choice. But there is a more intense pain and a more profound joy; See more ugly, can also see more beautiful. It's worth it, isn't it? What do you think?

             <br><br>Above, good night.
        </div>
    </div>
</div>

</body>
</html>