<!DOCTYPE html>
<html lang="en">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='Mate_css/article3.css') }}">
<head>
    <div id="back1">
    <meta charset="UTF-8">
        <a href="home_log">
        <img class=icon src="{{ url_for('static', filename='home_pic/icon.png')}}">
        <div class=sam>Imental</div>
        <div class=irs>Care for you</div>
        </a>
        <a href="home_log"><div class=title1>Home</div></a>
        <a href="ques"><div class=title2>Questionnaire</div></a>
        <a href="chat"><div class=title3>Chatbot</div></a>
        <a href="mate"><div class=rec4>Materials</div></a>
        <a href="personal"><div class=login>Personal Center</div></a>
    </div>
</head>
<body>
<div id="back2">
    <a href="mate"><Button class=back_button>Back</Button></a>

    <div id="arti_bkgd">
        <div class=title>{{ title }}</div>
        <div class=author>Label : {{ label }}</div>
        <div class=time>Updated : {{ date }}</div>
        <div class=text>
{#            {{ content }}#}
             There was a watershed moment in my adult life: I saw it as the end of me as a teenager. It was the beginning of my realization of the overwhelming complexity of the world -- if I had been an angry and aggressive teenager before, my negative feelings about life had since turned to resignation and boredom -- but it was also the moment when I really began to become myself.
             That was the moment I realized my father had his own wounds and distortions.<br><br>

             I wonder how many people like this fan who wrote to us are determined to escape the differences between their parents and their parents, only to find the gap between them is growing as they live and receive higher education far away from their native land.
             She found herself, on the one hand, feeling disconnected from them, repelled by their values, trying to break free from their grip on her, but at the same time, home seemed to be a place from which she could never escape -- not only in this way,
             When they show up, they can easily break the peace of our lives. They can easily make us angry, angry and cry. It is also reflected in that, after leaving, we gradually see the background color they left behind in ourselves.
             In this background, there are not only broken and missing, but also strength and tenacity, as well as the behavior and thinking mode that is clearly opposed but inadvertently followed.
             Worst of all, we understand them more or less, whether we want to or not.<br><br>
             We see their limitations and their own unresolved problems, and can't simply feel resentful and angry at them -- it's a more complex and unresolved emotion.

            <br><br> In psychology, there's this concept:
             "Transgenerational Transmission of Trauma"
             It means that the trauma of the previous generation can be passed on to their offspring, and that's what we're talking about today.
             How does it happen? What should we do about it? Is it possible to stop the intergenerational transmission of trauma? Let's talk about it carefully.
             <br><br>What is intergenerational trauma?<br><br>

             Transgenerational Trauma refers to
             Through the mechanism of PTSD(Post-traumatic stress Disorder), the transfer from the first generation of survivors of a traumatic event to their next generation, or the next generation of trauma, is also known as the intergenerational transmission of trauma
             (Transgenerational Transmission of Trauma).
             <br><br>The study of intergenerational trauma began in the 1960s. The researchers found that concentration camps, the Holocaust, when they studied the "concentration camp syndrome.
             There was also a high number of children of survivors seeking psychiatric help.
             Later, researchers found that intergenerational trauma can affect the third generation, for example,
             Third generation (grandchildren) of Holocaust survivors are three times as likely as the general population to seek help in child psychiatric clinics
             (Fossion, 2003). Currently, research on intergenerational trauma has focused on less than three generations, which is generally limited to direct exposure.
             <br><br>* Before we discuss the intergenerational transmission of trauma, let's understand what trauma is. <br><br>

             A traumatic event is usually an event related to (actual or threatening) death or serious injury that causes a person to feel fear, terror, or helplessness after exposure
             mio
             (APA, 1994). In the definition of "intergenerational trauma", traumatic events can refer to various types of trauma that may be suffered by individuals in a broad sense, such as abuse, crime of relatives, loss, accident and so on. It can also be in a narrow sense, that is, collective major traumatic events, such as wars, massacres, terrorist attacks, natural disasters, political movements, etc., often affect a certain group in a larger scope, or even a generation of a country or region.
             In China, due to the social turmoil and changes in the past hundred years, the intergenerational trauma transmission is particularly prominent. Social collective trauma has occurred repeatedly in the past century. Most of my parents (born in the 1980s and 1990s) lived through the Cultural Revolution (1966-1976), while grandparents not only lived through the cultural Revolution, but may also have lived through the decade-long Civil war (1927-1937) and the War of Resistance against Japanese Aggression (1937-1945). Both generations are also likely to experience three years of natural disasters and a series of political movements that took place between the 1950s and 1970s, such as the "Great Leap Forward" and the "anti-right" movement.

             <br><br>You could almost say,
             In China, people born earlier than the end of the 1970s are more or less the victims of collective trauma events. At the same time, they receive few mental health services.
             That is why intergenerational trauma may be a more pronounced problem in China. The focus of this paper is not on the impact of traumatic events experienced by individuals in previous generations, but on the transmission of trauma through collective traumatic events, as this may be a more general perspective.
             Trauma is passed on to the next generation through parenting
             <br><br>In recent decades, the focus of intergenerational trauma research has gradually shifted from direct and specific transmission of trauma (i.e., parents' post-traumatic psychiatric symptoms directly lead to children's psychiatric symptoms, such as PTSD symptoms in both generations) to indirect and non-specific transmission of trauma (i.e
             Traumatic events affect the first generation's cognitive, emotional, and functioning as parents/elders, which in turn affects the child's mental health
             ) (Kellermann, 2001).
             Psychoanalyst Plaenkers(2014) believes that intergenerational trauma caused by collective events is characterized by the disappearance of those unimaginable and unbearable traumas from individual memory, and the experiencer tries to cover them up and forget them. They also disappear from public discourse, and often cease to be talked about in the mainstream after a period of time.<br><br> But they still exist in the unconscious of the individual, transmitted to the descendants of survivors through parenting patterns, communication patterns, and the "words and deeds" of the previous generation. Albeck(1994) describes the effect of intergenerational trauma on the descendants of survivors as "scars without wounds".
             The first generation of survivors communicate and nurture their offspring in the following ways:

            <br><br> 1. Excessive silence or sharing of trauma<br><br>

             In communicating with future generations, there are two typical ways that older generations deal with traumatic experiences: excessive silence or excessive sharing, both of which are unhealthy.
             A. Excessive silence:<br><br>

             In the first generation of victims of trauma, many will try to make themselves forget those painful experiences, isolate these memories, suppress their desire to communicate with others, and hardly mention them to others (Harkness, 1993).
             For example, after the end of World War II, German parents would no longer mention things during the war, and children would not ask their parents what they experienced during the Nazi era, because they could feel that this was a difficult question to answer (Tatlow, 2016). However, the offspring will still feel pain, anger or sadness that their parents suppressed. They don't ask directly, but they try to guess how older generations felt and piece together a story from the clues they observe. In China, families who have experienced poverty and persecution show a similar pattern.
             B. Oversharing:<br><br>
             At the other end of the spectrum of excessive silence, older generations repeatedly share their experiences in inappropriate ways. This aspect may make their offspring feel terror and fear, producing some distorted cognition; On the other hand, recounting these experiences can be impactful because they are so different from the circumstances and lives of their offspring. Previous generations of experienced famine, for instance, people will often and the children said: "now you go through these difficulties are nothing, can't and we compared the time", or, "we can only eat the bark in childhood, the family are hungry belly, now you can eat the meat should be very satisfied, not picky eaters".

             It's hard to argue with such frequent statements that they might
             Leading to overly strict parenting, where survivors hold their offspring to the same or similar standards as themselves,
             Does not fit the current living environment; May also be
             deny
             <br><br>The frustrations and traumas that the child is experiencing now, which are considered trivial, create a sense of doubt and denial.
             At the same time, they are stuck in their own values and situations, and it is difficult to truly understand each other, thus affecting the emotional connection between generations.
             Too much control

             <br><br>Studies of American veterans and Holocaust survivors have found that
             The survivor's parenting style is marked by excessive control.
             They will be outstanding for the excessive protection or doting of children, as well as excessive demands, such as making strict norms and harsh punishments, and so on, which
             makes
             <br><br>It is difficult for offspring to be completely independent from their parents or elders (Kellermann, 2001).
             Tomas
             Plaenkers
             He began to study the psychological trauma of The Cultural Revolution in China in the 1990s. He believed that the collective trauma caused by the Cultural Revolution made people who had experienced it feel extremely insecure.
             They live in a worry-filled way, with great pressure to succeed, and with an obsession with hard work, because they want to be able to protect themselves from being helpless and less affected by their rulers or social circumstances
             (Tatlow, 2016).
             In turn, they may be unusually demanding of their children to succeed. On the one hand, it may lead to the neglect of children, that is, due to the excessive emphasis on worldly success, ignoring the emotional needs of the next generation; It can also lead to abuse, such as domestic violence against children.

             <br><br>3. Consciously communicate social norms and beliefs<br><br>

             Social learning theory holds that children complete the socialization process in the care of caregivers, acquire social roles from their parents' care behaviors, observe, imitate and learn social norms and beliefs from their parents. Unlike psychoanalysis, which emphasizes unconscious transmission, this transmission occurs consciously (Kellermann, 2001).

             <br><br>Mass traumatic events can cause the first generation to develop firm, distorted beliefs that are passed on to future generations. For example, people who have experienced the Holocaust and political campaigns tend to distrust others, and they will instill this value into their offspring. They will tell their children from an early age that "always be vigilant" and "no one can be trusted", so that their children always maintain a sense of crisis.

             The effects of intergenerational trauma

             The intergenerational transmission of trauma can affect the formation of self-identity in the offspring of survivors, affect family structure, and increase their risk of mental illness.

             <br><br>Conflict between self and task<br><br>

             Being a child of survivors is a task. They tend to over-identify with the identity of the "victims" of the previous generation and have over-compensating psychology for the previous generation, believing that they have some tasks to undertake (Kellermann, 2001).

             <br><br>Task : "fix" the parents<br><br>

             One of the tasks of the descendants of the survivors is
             Take in, process and digest the negative feelings of the previous generation and help them adapt to the new environment.

             <br><br>From a psychodynamic perspective, these emotions are not transmitted consciously, but "transferred unconsciously". As the next generation grows up, the previous generation unconsciously externalizes its traumatized self, while the next unconsciously absorbs the previous generation's repressed and inadequately processed experiences, feelings, and emotions. This makes it possible for the child in a family to turn into a "holding environment" for the caregiver, who tries to enable the parent to move on from traumatic events and negative emotions. And adapt to a changing new world.
             Task two: Fulfill your parents' (unfulfilled) wishes

             <br><br>Unable to become independent, children need to fulfill the unfulfilled aspirations of previous generations, such as the aforementioned strong desire to succeed.
             For example, many parents will encounter the history of the environment, the traumatic event as the cause of the failed to reach a goal in life, such as the boy said "we then exam difficulty is dozens of times now, you should cherish environment, now must enter xx university", or grades slipped blame the child said, "if it weren't for xx event, I will surely succeed, Not like this; But your study condition is so good, still don't work hard "and so on.


        </div>
    </div>
</div>

</body>
</html>