#background{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1700px;
    height:920px;
    background-color: rgba(255, 180, 50, 0.30);
    text-align: center;
    border: 1px solid rgba(187, 187, 187, 100);
}

.back_btn{
    position: absolute;
    left: 10px;
    top: 10px;
    width: 120px;
    height: 30px;
    border-radius: 10px;
    line-height: 28px;
    background-color: rgba(255, 255, 255, 100);
    color: rgba(16, 16, 16, 100);
    font-size: 14px;
    text-align:center;
    vertical-align: middle;
    font-family: Roboto;
    border:none;
}

.back_btn:hover{
    background-color: rgba(255, 180, 50, 0.8);
    color: rgba(255, 255, 255, 100);
}

#ques_region{
    position: absolute;
    left: 350px;
    top: 50px;
    width: 1000px;
    height: 800px;
    line-height: 20px;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 100);
    text-align: center;
    box-shadow: 0px 8px 22px 6px rgba(34, 34, 34, 0.10);
    border: 1px solid rgba(50, 189, 254, 0.18);
}

.title{
    position: absolute;
    left: 100px;
    top:80px;
    width: 800px;
    text-align: center;
    font-size: 40px;
}

#btn_region{
    position: absolute;
    left: 200px;
    top: 200px;
    width: 600px;
    height: 400px;
    line-height: 40px;
}

.btn{
    height:40px;
    width:300px;
    text-align: center;
    font-size: 30px;
    background-color: rgba(255, 180, 50, 0.75);
    color: rgba(255, 255, 255, 100);
    border: none;
}

.previous{
    position: absolute;
    left: 150px;
    bottom: 50px;
    width: 100px;
    height: 36px;
    line-height: 20px;
    border-radius: 3px 0px 0px 3px;
    background-color: rgba(51, 189, 254, 100);
    color: rgba(255, 255, 255, 100);
    font-size: 14px;
    text-align: center;
    font-family: Roboto;
    border: 1px solid rgba(81, 199, 254, 0.40);
}

.next{
    position: absolute;
    right: 150px;
    bottom: 50px;
    width: 100px;
    height: 36px;
    line-height: 20px;
    border-radius: 0px 3px 3px 0px;
    background-color: rgba(51, 189, 254, 100);
    color: rgba(255, 255, 255, 100);
    font-size: 14px;
    text-align: center;
    font-family: Roboto;
    border: 1px solid rgba(81, 199, 254, 0.40);
}

.submit_btn{
    position: absolute;
    left: 350px;
    bottom:30px;
    width: 300px;
    height: 60px;
    border-radius: 4px;
    background-color: rgba(255, 180, 50, 0.75);
    color: rgba(255, 255, 255, 100);
    font-size: 28px;
    text-align: center;
    border:none;
    font-family: Roboto;

}

.submit_btn:hover{
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.4);
    border: 1px solid rgba(255, 180, 50, 0.75);
}

ul[title='One'] {
    width:1100px;
    margin:0 auto;
    text-align: start;
    font-size:xx-large;
    line-height:42px;
}

ul[title='Two'] {
    position: absolute;
    left: 65px;
    top: 30px;
    width:400px;
    margin:0 auto;
    text-align: center;
    font-size:xx-large;
    line-height:70px;
}
