<!DOCTYPE html>
<html lang="en">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='Mate_article.css') }}">
<head>
    <div id="back1">
    <meta charset="UTF-8">
        <a href="home">
        <img class=icon src="{{ url_for('static', filename='home_pic/icon.png')}}">
        <div class=sam>Sam</div>
        <div class=irs>IRS Project</div>
        </a>
        <a href="home"><div class=title1>Home</div></a>
        <a href="ques"><div class=title2>Questionnaire</div></a>
        <a href="chat"><div class=title3>Chatbot</div></a>
        <a href="mate"><div class=rec4>Materials</div></a>
        <a href="login"><div class=login>login/register</div></a>
    </div>
</head>
<body>
<div id="back2">
    <a href="mate"><Button class=back_button>Back</Button></a>

    <div id="arti_bkgd">
        <div class=title>How did I get out of postpartum depression?</div>
        <div class=author>author: Jennifer Harden</div>
        <div class=time>Published : 2017.05.07</div>
        <div class=text>In this world there is a kind of pure things, called love. college students' love may be based on curious, maybe is based on empty, maybe is based on look at each other in the. How to Improve Mental Health Nowadays, there is more recognition of the importance of mental health to every one of us. Without a healthy mind, people may not be able to.<br>
                        <br>
                        In this world there is a kind of pure things, called love. college students' love may be based on curious, maybe is based on empty, maybe is based on look at each other in the. How to Improve Mental Health Nowadays, there is more recognition of the importance of mental health to every one of us. Without a healthy mind, people may not be able to.<br>
                        <br>
                        In this world there is a kind of pure things, called love. college students' love may be based on curious, maybe is based on empty, maybe is based on look at each other in the. How to Improve Mental Health Nowadays, there is more recognition of the importance of mental health to every one of us. Without a healthy mind, people may not be able to.<br>
                        <br>
                        In this world there is a kind of pure things, called love. college students' love may be based on curious, maybe is based on empty, maybe is based on look at each other in the. How to Improve Mental Health Nowadays, there is more recognition of the importance of mental health to every one of us. Without a healthy mind, people may not be able to.<br>
        </div>
    </div>
</div>

</body>
</html>