<!DOCTYPE html>
<html lang="en">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='Personal.css') }}">
<head>
    <meta charset="UTF-8">
    <div id="back1">
    <meta charset="UTF-8">
        <a href="home">
        <img class=icon src="{{ url_for('static', filename='home_pic/icon.png')}}">
        <div class=sam>Sam</div>
        <div class=irs>IRS Project</div>
        </a>
        <a href="home"><div class=title1>Home</div></a>
        <a href="ques"><div class=title2>Questionnaire</div></a>
        <a href="chat"><div class=title3>Chatbot</div></a>
        <a href="mate"><div class=title4>Materials</div></a>
        <img class=head src="{{ url_for('static', filename='pers_pic/head.png')}}">
        <div class=name>ABCD</div>
    </div>
</head>
<body>
    <div id="back2">
        <div id="back3">
            <div id="back4">
                <div id="region1">
                    <img class=info_head src="{{ url_for('static', filename='pers_pic/head.png')}}">
                </div>
                <div id="region2">
                    <div class=info_title>My Questionnaire Result</div>
                </div>
                <div id="region3">
                    <div class=info_title>My Recent Reading</div>
                </div>
                <div id="region4">
                    <div class=info_title>My Chat History</div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>