<!DOCTYPE html>
<html lang="en">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='Ques.css') }}">
<head>
    <div id="back1">
    <meta charset="UTF-8">
        <a href="home">
        <img class=icon src="{{ url_for('static', filename='home_pic/icon.png')}}">
        <div class=sam>Sam</div>
        <div class=irs>IRS Project</div>
        </a>
        <a href="home"><div class=title1>Home</div></a>
        <a href="ques"><div class=rec2>Questionnaire</div></a>
        <a href="chat"><div class=title3>Chatbot</div></a>
        <a href="mate"><div class=title4>Materials</div></a>
        <a href="login"><div class=login>login/register</div></a>
    </div>
</head>
<body>
    <div id="back2">
        <div id="back3">
            <div class=time_text>Only 5 minutes needed</div>
            <img class=time_circle src="{{ url_for('static', filename='ques_pic/circle_time.png')}}">
            <div class=take_text>Most customers choose to do questionnaire</div>
            <img class=take_circle src="{{ url_for('static', filename='ques_pic/circle_take.png')}}">
            <div class=radar_text>Get your personal analysis</div>
            <img class=radar_circle src="{{ url_for('static', filename='ques_pic/circle_radar.png')}}">

            <div class=intro>   This questionnaire is a series of questions of your personal habits and psychological condition.<br>
                                Your answer and data will be highly protected and only be used by our bot for better understanding.<br>
                                No personal information will be collected.  </div>
            <a href="question"><div class=start>Take your questionnaire</div></a>
        </div>
    </div>
</body>
</html>