#back1{
    position:absolute;
    left: 0px;
    top: 0px;
    width: 1700px;
    height: 100px;
    line-height: 20px;
    background-color: rgba(255, 255, 255, 95);
}

.icon{
    position:absolute;
    left: 157px;
    top: 10px;
    width: 75px;
    height: 75px;
}

.sam{
    position:absolute;
    left: 245px;
    top: 21px;
    width: 73px;
    height: 19px;
    color: rgba(255, 180, 50, 0.80);
    font-size: 36px;
    text-align: left;
    font-family: 方正汉真广标-标准;
}

.irs{
    position:absolute;
    left: 246px;
    top: 56px;
    width: 140px;
    height: 43px;
    color: rgba(153, 153, 153, 100);
    font-size: 18px;
    text-align: left;
    font-family: SourceHanSansSC-regular;
}

.title1{
    position: absolute;
    left: 492px;
    top: 36px;
    width: 79px;
    height: 29px;
    color: rgba(0, 0, 0, 1);
    font-size: 28px;
    text-align: left;
    font-family: SourceHanSansSC-regular;
}

.title2{
    position: absolute;
    left: 655px;
    top: 36px;
    width: 185px;
    height: 29px;
    color: rgba(34, 34, 34, 100);
    font-size: 28px;
    text-align: left;
    font-family: SourceHanSansSC-regular;
}

.title3{
    position: absolute;
    left: 902px;
    top: 36px;
    width: 106px;
    height: 29px;
    color: rgba(34, 34, 34, 100);
    font-size: 28px;
    text-align: left;
    font-family: SourceHanSansSC-regular;
}

.rec4{
    position:absolute;
    left: 1063px;
    top: 0px;
    width: 210px;
    height: 100px;
    line-height: 100px;
    background-color: rgba(255, 180, 50, 0.80);
    color: rgba(255, 255, 255, 100);
    font-size: 28px;
    text-align: center;
    vertical-align: middle;
    font-family: SourceHanSansSC-regular;
}

.login{
    position: absolute;
    left: 1422px;
    top: 20px;
    width: 189px;
    height: 46px;
    line-height: 46px;
    border-radius: 10px;
    background-color: rgba(0, 174, 255, 100);
    color: rgba(255, 255, 255, 100);
    font-size: 20px;
    text-align: center;
    vertical-align: middle;
    font-family: Roboto;
}

.back_button{
    position: absolute;
    left: 60px;
    top: 50px;
    width: 120px;
    height: 50px;
    border-radius: 10px;
    line-height: 40px;
    background-color: rgba(255, 255, 255, 100);
    color: rgba(16, 16, 16, 100);
    font-size: 24px;
    text-align:center;
    vertical-align: middle;
    font-family: Roboto;
    border: none;

}

.back_button:hover{
    background-color: rgba(255, 180, 50, 0.8);
    color: rgba(255, 255, 255, 100);
}

#back2{
    position: absolute;
    left: 0px;
    top: 100px;
    width: 1690px;
    height: 7500px;
    line-height: 20px;
    background-color: rgba(255, 180, 50, 0.2);
    text-align: center;
}

#arti_bkgd {
    position: absolute;
    left: 270px;
    top: 50px;
    width: 1200px;
    height: 7400px;
    line-height: 20px;
    border-radius: 25px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.95);
    box-shadow: 0px 8px 22px 6px rgba(34, 34, 34, 0.10);
    border: 1px solid rgba(50, 189, 254, 0.18);
}

.title{
    position: absolute;
    left: 50px;
    top: 55px;
    width: 1100px;
    height: 101px;
    color: rgba(16, 16, 16, 100);
    font-size: 36px;
    text-align: justify;
    line-height: 40px;
    font-family: SourceHanSansSC-regular;
}

.author{
    position: absolute;
    left: 50px;
    top: 185px;
    width: 700px;
    height: 101px;
    color: rgba(100, 100, 100, 0.90);
    font-size: 28px;
    text-align: left;
    line-height: 32px;
    font-family: SourceHanSansSC-regular;
}

.time{
    position: absolute;
    left: 800px;
    top: 200px;
    width: 300px;
    height: 24px;
    color: rgba(197, 199, 200, 100);
    font-size: 20px;
    text-align: left;
    font-family: SourceHanSansSC-regular;
}

.text{
    position: absolute;
    left: 50px;
    top: 300px;
    width: 1100px;
    height: 1200px;
    color: rgba(16, 16, 16, 100);
    line-height: 35px;
    font-size: 28px;
    text-align: left;
    font-family: SourceHanSansSC-regular;
}